@import "../../styles/base/fonts";
@import "../../styles/base/variables";
@import "../../styles/base/helpers";
@import "../../styles/base/colors";

.wrapper {
  margin-top: 120px;
  margin-bottom: 120px;

  .box {
    width: 424px;
    padding: 32px;
    margin: 0 auto;
    overflow: hidden;
    background-color: $color-white;
    filter: drop-shadow(0px 4mm 4mm rgba(0, 0, 0, 0.25));
    box-shadow: 0px 4px 80px rgba(255, 159, 13, 0.15);
    transition-property: height;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 200ms;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    h3 {
      @include font(body, xl, $color-black);
      font-weight: bold;
      margin-bottom: 32px;
    }
  }

  a {
    @include font(body, sm, map-get($grays, gray-600));
    text-decoration: none;

    &:hover {
      color: $color-black;
    }
  }
}
