@import "../../styles/base/colors";

.panel {
  background-color: $color-beige;
  overflow: hidden;

  .panelHeading {
    z-index: 3;
    cursor: pointer;
    position: relative;
    background-color: $color-beige;
  }
}
