@import "../../styles/base/fonts";
@import "../../styles/base/variables";
@import "../../styles/base/helpers";
@import "../../styles/base/colors";

.badgeCount {
  max-width: 375px;
  height: 92px;
  border-left: 10px;
  border-left-style: solid;
  border-left-color: map-get($theme-colors, primary);
  background-color: $color-white;
  border-radius: 6px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 50px;
  padding-right: 50px;
  user-select: none;

  .number {
    @include font(headings, xl, map-get($theme-colors, primary));
  }

  .text, span, p, em {
    @include font(body, xl, map-get($grays, gray-100));

    b {
      font-size: 24px;
      font-weight: bold;
    }
  }
}
