@import "../../styles/base/fonts";
@import "../../styles/base/variables";
@import "../../styles/base/helpers";
@import "../../styles/base/colors";

.navbar {
  background-color: #000;

  @include media-breakpoint-down(md) {
    max-height: 74px;
  }

  .hamburguer {
    color: map-get($theme-colors, primary);

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .logo {
    line-height: 0;

    img {
      width: 109px;
      height: 32px;
    }
  }

  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .menu {
    @include media-breakpoint-down(sm) {
      position: absolute;
      top: 64px;
      left: 0;
      bottom: 0;
      width: 75%;
      background-color: #000;
    }

    .link {
      margin-right: 32px;
      text-decoration: none;
      @include font(navbar, desktop, $color-white);
      transition-property: color;
      transition-duration: 200ms;
      transition-timing-function: ease-in-out;

      @include media-breakpoint-down(sm) {
        display: block;
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        margin-right: 0;
        @include font(navbar, mobile, $color-white);
      }

      &.active,
      &:hover {
        color: map-get($theme-colors, primary);
      }

      &.active {
        font-weight: bold;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .actions {
    svg {
      color: $color-white;
    }

    .link {
      display: inline-block;
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .open {
      .menu {
        z-index: 3;

        a {
          padding: 24px;
          position: relative;
          outline: none;

          &.active {
            transition-property: transform;
            transition-duration: 200ms;
            transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transform: scale(2) translateX(15%);
            display: inline-block;
          }
        }
      }

      .hamburguer, .logo, .actions {
        z-index: 3;
      }

      .actions {
        width: 75%;
        position: absolute;
        bottom: 10px;
        left: 0;
        display: flex;
        justify-content: space-around;

        .link svg {
          width: 48px;
          height: 48px;
        }
      }
    }

    .close {
      .menu, .actions {
        display: none;
      }
    }
  }

  a, .link {
    cursor: pointer;
  }
}