@import "../../styles/base/fonts";
@import "../../styles/base/colors";

.wrapper {
  margin: 120px auto;

  .box {
    width: 630px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

    span, p {
      display: block;
    }

    .title {
      font-family: $font-family-sans-serif;
      color: map-get($theme-colors, primary);
      margin-bottom: 32px;
      line-height: 104px;
      font-weight: bold;
      font-size: 96px;
    }

    .subtitle {
      @include font(headings, md, map-get($grays, gray-500));
      margin-bottom: 24px;
    }

    p {
      @include font(body, medium, map-get($grays, gray-400));
      margin-bottom: 32px;
      margin-right: auto;
      margin-left: auto;
      width: 80%;
    }
  }
}
