@import "../../styles/base/fonts";
@import "../../styles/base/variables";
@import "../../styles/base/helpers";
@import "../../styles/base/colors";

.supportAndAbout {
  background-color: #000;
}

.supportAndAbout {
  padding-top: 120px;

  .support {
    padding-bottom: 30px;
    border-bottom: 1px solid map-get($theme-colors, primary);

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    .suscribeField {
      height: 55px;
      width: 446px;
      border-radius: 4px;
      overflow: hidden;
      display: flex;

      @include media-breakpoint-down(md) {
        width: 100%;
      }

      input[type="email"] {
        color: $color-white;
        background-color: map-get($theme-colors, primary);
        border: none;
        outline: none;
        padding: 16px 24px 16px 20px;
        font-size: 16px;
        height: 100%;
        width: calc(100% - 148px);

        &::placeholder {
          color: rgba($color: $color-white, $alpha: 0.59);
        }
      }

      button {
        width: 163px;
        cursor: pointer;
        @include font(body, md, $color-white);
        margin-left: -4px;
        border-radius: 4px;
        padding: 16px 24px;
        height: 100%;
        border: none;
        background-color: $color-white;
        color: map-get($theme-colors, primary);
      }
    }
  }

  .about {
    color: $color-white;

    .aboutInfo {
      margin-right: auto;
    }

    .usefulLinks,
    .help,
    .recentPost {
      li {
        margin-bottom: 16px;

        a:hover {
          text-decoration: underline;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      .card {
        display: flex;
        margin-bottom: 16px;
        width: 274px;

        img {
          width: 55px;
          height: 48px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .help {
      @include media-breakpoint-down(sm) {
        margin-top: 32px;
      }
    }
  }
}

.copyRightAndSocial {
  background-color: map-get($grays, gray-400);
}
