@import "../../styles/base/fonts";
@import "../../styles/base/variables";
@import "../../styles/base/helpers";
@import "../../styles/base/colors";

.supportAndAbout {
  background-color: #000;
}

.supportAndAbout {
  padding-top: 120px;

  .support {
    padding-bottom: 30px;
    border-bottom: 1px solid map-get($theme-colors, primary);

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
    }

    @include media-breakpoint-up(lg) {
      margin-left: 81px;
      margin-right: 81px;
    }

    .supportHalf {
      h4 {
        @include font(headings, md, $color-white);
        margin-bottom: 16px;

        b {
          color: map-get($theme-colors, primary);
        }
      }

      p {
        @include font(body, normal, $color-white);
      }
    }

    .suscribeField {
      height: 55px;
      width: 446px;
      border-radius: 4px;
      overflow: hidden;
      display: flex;

      @include media-breakpoint-down(md) {
        width: 100%;
        margin-top: 32px;
      }

      input[type="email"] {
        color: $color-white;
        background-color: map-get($theme-colors, primary);
        border: none;
        outline: none;
        padding: 16px 24px 16px 20px;
        font-size: 16px;
        height: 100%;
        width: calc(100% - 148px);

        &::placeholder {
          color: rgba($color: $color-white, $alpha: 0.59);
        }
      }

      button {
        width: 163px;
        cursor: pointer;
        @include font(body, normal, $color-white);
        margin-left: -4px;
        border-radius: 4px;
        padding: 16px 24px;
        height: 100%;
        border: none;
        background-color: $color-white;
        color: map-get($theme-colors, primary);
      }
    }
  }

  .about {
    color: $color-white;
    padding-top: 56px;
    padding-bottom: 56px;

    span, p, a {
      text-decoration: none;
      @include font(body, normal, $color-white);
    }

    .aboutInfo {
      margin-right: auto;

      > span {
        @include font(headings, xs, $color-white);
        display: inline-block;
        margin-bottom: 32px;
      }

      p {
        @include font(body, medium, $color-white);
      }
    }

    .usefulLinks,
    .help,
    .recentPost {
      > span {
        @include font(headings, xs, $color-white);
        display: inline-block;
        margin-bottom: 24px;
      }

      li {
        margin-bottom: 16px;

        a:hover {
          text-decoration: underline;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      .card {
        display: flex;
        margin-bottom: 16px;
        width: 274px;

        img {
          width: 55.07px;
          height: 47.02px;
        }

        span {
          @include font(body, normal, $color-white);
          opacity: 0.49;
        }

        p {
          @include font(body, medium, $color-white);
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .help {
      @include media-breakpoint-down(sm) {
        margin-top: 32px;
      }
    }
  }
}

.copyRightAndSocial {
  padding-top: 32px;
  padding-bottom: 34px;
  background-color: map-get($grays, gray-400);

  span {
    @include font(body, normal, $color-white);
  }

  .iconButton {
    background-color: $color-white;
    border-radius: 2px;
    width: 35px;
    height: 33px;
    margin-right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 20px;
      height: 20px;
      fill: map-get($grays, gray-400);

      &:hover {
        fill: map-get($theme-colors, primary);
      }
    }

    &:hover {
      cursor: pointer;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
