// Adjust bootstrap button variables for our theme.

$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 1.5rem;
$input-btn-padding-y-sm: 0.5rem;
$input-btn-padding-x-sm: 1.5rem;
$input-btn-padding-y-lg: 1rem;
$input-btn-padding-x-lg: 2rem;
$input-btn-font-size: 20px;
$input-btn-font-size-sm: 14px;
$input-btn-font-size-lg: 20px;

// Probably need to use these...
// $btn-link-color: var(--#{$prefix}link-color) !default;
// $btn-link-hover-color: var(--#{$prefix}link-hover-color) !default;
// $btn-link-disabled-color: $gray-600 !default;

$btn-border-radius: 50vh;
$btn-border-radius-sm: $btn-border-radius;
$btn-border-radius-lg: $btn-border-radius;
